.nav{float:left; clear: both; width: 100%; height: 2px; background: #000000;}
#logo{float:left; height: 70px; width: 250px; padding-left: 10px;}
#header{height: 70px; width: 100%; min-width: 1260px;}
#header li {height: 70px; width: 100px; text-align: center; line-height: 100px; float:right;}
#header a {font-size:15px; font-family:"微软雅黑"; font-weight:bold; text-decoration: none;}
#header a:hover{color:#3399cc;}
#main{width: 1000px; margin: 0 auto; margin-top: 60px;}


#footer{height: 80px; background: rgba(0,0,0,0.10); top: 80%; margin-left: 6px; padding-top: 8px; border-radius: 10px; position:fixed;top:20 }
#footer li {height: 15px; width: 20px; text-align: center; line-height: 15px; float:left; margin: 2px 2px; display: block;}
#footer a {font-size:10px; font-family:"微软雅黑"; text-decoration: none;}
#footer a:hover{color:#3399cc;}